In [1]:
import pandas as pd
import datetime as dt
import numpy as np

## calculate request time for PT for each area's hub

In [ ]:
# list of hubs

# area 8
# hub1: 19.88192, 50.08179 
# hub2: 19.859835, 50.083524

# area 9
# hub1: 19.88192, 50.08179
# hub2: 19.889698, 50.081331
# hub3: 19.859835, 50.083524

# area 10
# hub1: 19.88948, 50.01844

# area 11
# hub1: 19.95042, 50.01356
# hub2: 19.964684, 50.013437

# area 12
# hub1: 19.88948, 50.01844
# hub2: 19.87462, 49.98552
# hub3: 19.89854, 49.98843

In [3]:
df = pd.read_csv('georequests_O(area12)_D.csv')
df

,Unnamed: 0,FID,x,y,adr_pelny,ogolem,zone_NO,inside_poly,probs,desti_zones,prob_dict,desti_zone,desti_x,desti_y,treq
0,0,8997,19.852584,49.992373,BERNARDA WAPOWSKIEGO 32,12,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","{1: 0.011470104029093346, 2: 0.004750659559184...",311,19.865175,49.990338,2024-03-28 08:09:22
1,1,8997,19.852584,49.992373,BERNARDA WAPOWSKIEGO 32,12,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",243,20.017170,50.076269,2024-03-28 07:57:45
2,2,8997,19.852584,49.992373,BERNARDA WAPOWSKIEGO 32,12,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",89,19.906643,50.030131,2024-03-28 08:00:15
3,3,8997,19.852584,49.992373,BERNARDA WAPOWSKIEGO 32,12,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",94,19.872907,50.030145,2024-03-28 08:01:29
4,4,8997,19.852584,49.992373,BERNARDA WAPOWSKIEGO 32,12,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",311,19.865175,49.990338,2024-03-28 08:11:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,1588,46960,19.863690,49.989880,MIECZYSŁAWA WRONY 78B,1,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",88,19.896833,50.023390,2024-03-28 07:52:47
1589,1589,47265,19.874247,49.987493,CHLEBICZNA 7A,1,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",89,19.906643,50.030131,2024-03-28 08:11:31
1590,1590,47393,19.853785,49.993557,TADEUSZA HOLLENDRA 21,1,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",34,19.925828,50.075653,2024-03-28 07:57:26
1591,1591,47578,19.861169,49.988051,BŁOTNISKA 13,1,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",86,19.890428,50.011478,2024-03-28 08:08:22
1592,1592,47668,19.872500,49.991878,STANISŁAWA DZIAŁOWSKIEGO 11H,1,311.0,True,"[0.011470104029093346, 0.004750659559184594, 0...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","[{1: 0.011470104029093346, 2: 0.00475065955918...",181,19.907826,49.996216,2024-03-28 08:02:06

In [4]:
def haversine(loc1, loc2):
    ''' 
        Haversine formula [km]
    '''
    Earth_radius = 6371  # km

    lat1, lon1 = np.radians(loc1)
    lat2, lon2 = np.radians(loc2)
    dlat, dlon = lat2 - lat1, lon2 - lon1
    a = np.sin(0.5 * dlat)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(0.5 * dlon)**2
    
    return 2 * Earth_radius * np.arcsin(np.sqrt(a))

In [5]:
dist = haversine((19.852584, 49.992373), (19.952185, 50.025729))
speed = 40 # [kmh]
dist, int(dist / speed * 3600)

(11.611245269251071, 1045)

In [7]:
hub_loc = (19.88948, 50.01844)

df['treq_h1'] = df.treq + pd.to_timedelta(np.int32(haversine((df.x, df.y), hub_loc) / speed * 3600), unit='seconds')h'] = df.treq + pd.to_timedelta(np.int32(haversine((df.x, df.y), hub_loc) / speed * 3600), unit='seconds')

In [ ]:
# df.to_csv('georequests_h1(area8)_D.csv')